.container {
  display: flex;
}
#navbar {
  border: 2px solid red;
  width: 30%;
}

#main-doc {
  border: 4px solid green;
  width: 70%;
}



Introduction
What you should already know
JavaScript and Java
Hello world
Variables
Declaring variables
Variable scope
Global variables 
Constants
Data types
if...else statement
while statement
Function declarations
Reference